<h2>SignUp Form </h2>
<form novalidate #userform="ngForm" (ngSubmit)="postForm(userform.value);">
  <div class="form-group">
    <label for="formGroupExampleInput">Enter Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" #uname="ngModel" [(ngModel)] = "user.name" name="name" minlength="5" required>
    <p *ngIf="uname.invalid">Name is very manly</p>
    <p *ngIf="uname.errors?.required">Name is Reqired</p>
    <p *ngIf="uname.errors?.minlength">Name is very small</p>
  </div>
   
  <div class="form-group">
    <label for="formGroupExampleInput2">Enter contact number</label>
    <input type="text" class="form-control" [(ngModel)]="user.phone" name="contact" id="formGroupExampleInput2" minlength="5" maxlength="10" required  >
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput3">Enter Address</label>
    <input type="text" class="form-control" [(ngModel)]="user.address" name="address" id="formGroupExampleInput3" >
  </div>
  <button [disabled]="!userform.valid" type="submit" class="btn btn-primary">Submit</button>
</form>
