<input type="button" (click)="getTasks()" value="Get Tasks">
<li *ngFor="let task of tasks">{{task._id}} <input type="button" (click)="deleteTask(task._id)"></li>
<form #postTask="ngForm" (ngSubmit)="postTasks()">
  <label for="name">Name:</label><input type="text" [(ngModel)]="taskForm.name" [ngModelOptions]="{standalone: true}">
  <label for="desc">Type:</label><input type="text" [(ngModel)]="taskForm.type" [ngModelOptions]="{standalone: true}">
  <input type="submit" value="Submit">
</form>



<app-auth></app-auth>
<nav>
  <a routerLink="/r1">r1</a>
  <a routerLink="/r2">r2</a>
  <a routerLink="/r3">r3</a>
  <a routerLink="/hero-parent">parent</a>
  <a routerLink="/hero-child">child</a>
</nav>
<p>Router Outlet</p>
<router-outlet></router-outlet>