.font-family-verdana {
    font-family: Verdana;
}
.font-color-inherit {
    color: inherit;
}
.font-size-inherit {
    font-size: inherit;
}
.font-size-5vmax {
    font-size: 5vmax;
}
.font-size-4vmax {
    font-size: 4vmax;
}
.font-size-3-5vmax{
    font-size: 3.5vmax;
}
.font-size-3vmax {
    font-size: 3vmax;
}
.font-size-2-5vmax{
    font-size: 2.5vmax;
}
.font-size-2vmax {
    font-size: 2vmax;   
}
.font-size-1-5vmax {
    font-size: 1.5vmax;   
}
.font-size-1vmax {
    font-size: 1vmax;   
}