/* varables */
/* varables */
body {
  margin: 0px;
  background-color: #F47942;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
}

.main-grid {
  display: grid;
  grid-gap: 50px;
}

.header {
  display: grid;
  grid-template-columns: 30px 150px;
  background-color: #57AC66;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.header p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}

.start-tap {
  margin: 5px;
  background-color: #00658C;
  border: 1px solid #00658C;
}
.start-tap:hover + .grid-container {
  animation: clockwise 2s 2s infinite forwards;
}
.start-tap:hover + .grid-container > .centered {
  animation: counter-clockwise 2s 2s infinite forwards;
}
.start-tap:hover + .grid-container > .top-50 {
  animation: counter-clockwise 2s 2s infinite forwards, decrement-top 2s 0s forwards;
}
.start-tap:hover + .grid-container > .bottom-50 {
  animation: counter-clockwise 2s 2s infinite forwards, decrement-bottom 2s 0s forwards;
}
.start-tap:hover + .grid-container > .left-50 {
  animation: counter-clockwise 2s 2s infinite forwards, decrement-left 2s 0s forwards;
}
.start-tap:hover + .grid-container > .right-50 {
  animation: counter-clockwise 2s 2s infinite forwards, decrement-right 2s 0s forwards;
}

.grid-container {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 0px;
  grid-auto-rows: 50px;
  justify-content: center;
  justify-items: center;
}

.polygon {
  position: relative;
}

.polygon img {
  width: 50px;
  height: 50px;
}

.top-50 {
  top: 50px;
  animation: increment-top 2s 0s forwards;
}

.left-50 {
  left: 50px;
  animation: increment-left 2s 0s forwards;
}

.right-50 {
  right: 50px;
  animation: increment-right 2s 0s forwards;
}

.bottom-50 {
  bottom: 50px;
  animation: increment-bottom 2s 0s forwards;
}

.stop-tap {
  margin: 5px;
  background-color: #F04A58;
  border: 1px solid #F04A58;
}

@-webkit-keyframes decrement-top {
  0% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}
@keyframes decrement-top {
  0% {
    top: 50px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes decrement-bottom {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes decrement-bottom {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes decrement-left {
  0% {
    left: 50px;
  }
  100% {
    left: 0px;
  }
}
@keyframes decrement-left {
  0% {
    left: 50px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes decrement-right {
  0% {
    right: 50px;
  }
  100% {
    right: 0px;
  }
}
@keyframes decrement-right {
  0% {
    right: 50px;
  }
  100% {
    right: 0px;
  }
}
@-webkit-keyframes collapse {
  0% {
    grid-gap: 100px;
  }
  100% {
    grid-gap: 0px;
  }
}
@keyframes collapse {
  0% {
    grid-gap: 100px;
  }
  100% {
    grid-gap: 0px;
  }
}
@-webkit-keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes counter-clockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes counter-clockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes increment-top {
  from {
    top: 0px;
  }
  to {
    top: 50px;
  }
}
@keyframes increment-top {
  from {
    top: 0px;
  }
  to {
    top: 50px;
  }
}
@-webkit-keyframes increment-left {
  from {
    left: 0px;
  }
  to {
    left: 50px;
  }
}
@keyframes increment-left {
  from {
    left: 0px;
  }
  to {
    left: 50px;
  }
}
@-webkit-keyframes increment-right {
  from {
    right: 0px;
  }
  to {
    right: 50px;
  }
}
@keyframes increment-right {
  from {
    right: 0px;
  }
  to {
    right: 50px;
  }
}
@-webkit-keyframes increment-bottom {
  from {
    bottom: 0px;
  }
  to {
    bottom: 50px;
  }
}
@keyframes increment-bottom {
  from {
    bottom: 0px;
  }
  to {
    bottom: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
